* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    outline: none;
    font-family: "Montserrat", serif;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 1;
}

:-ms-input-placeholder {
    color: inherit;
    opacity: 1;
}

::placeholder {
    color: inherit;
    opacity: 1;
}

html,
body {
    height: 100%;
}

.primary-btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    min-width: 191px;
    padding: 0px 20px;
    color: #ffffff !important;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    text-decoration: none !important;
    border: none;
    border-radius: 50px;
    line-height: 44px;
    height: 44px;
    background: #00ACB3;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.ks-smt {
    margin-top: 100px;
}

.ks-smb {
    margin-bottom: 100px;
}

.ks-spt {
    padding-top: 100px;
}

.ks-spb {
    padding-bottom: 100px;
}

.ks-font-merriweather {
    font-family: "Merriweather", serif;
}

.primary-btn span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 10px;
}

.primary-link-color {
    color: #0E1164;
}

.light-blue {
    color: #19647E;
}

.dark-blue {
    color: #0E1164 !important;
}

.container {
    width: 100%;
    max-width: 1170px;
}

img.cover-image {
    object-fit: cover;
    object-position: center;
}
img.contain-image {
    object-fit: contain;
    object-position: center;
}
.ks-btn {
    padding: 10px 40px;
    font-weight: 700;
    font-size: 18px;
    border-radius: 50px;
    /*min-width: 230px;*/
    line-height: 24px;
    text-decoration: none;
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
}

.ks-btn-light {
    background: #ffffff;
    color: #000000;
}

.ks-btn-light:hover {
    color: #000000;
    text-decoration: none;
}

.ks-btn-dark {
    background: #000000;
    color: #ffffff;
}

.arrow-light:after {
    content: url(../images/arrow-right-light.png);
    margin-left: 15px;
    color: #ffffff;
    display: inline-block;
    width: 15px;
}

.section-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
    margin-bottom: 60px;
}

.section-subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
}
a.no-decoration{
    color: #000000;
}
a.no-decoration:hover{
    text-decoration: none;
}
.slider-arrow-box .next{
    cursor: pointer;
}
@media (min-width: 768px) {
    .section-title {
        font-size: 36px;
    }
}

/**======================
Header Menu Starts
=========================*/
header {
    /*position: relative;*/
    width: 100%;
    /*padding: 0 135px;*/
    z-index: 10000;
    position: fixed;
    top: 0;
    right: 0;
}
.single-projects header#masthead,
header#masthead.scrolled-navbar {
    background: #ffffff;
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.single-projects .navigation nav ul li a,
#masthead.scrolled-navbar .navigation nav ul li a {
    color: #000000;
}

header .logo {
    position: relative;
    text-align: left;
}

header .logo a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    outline: none;
}

header .logo img {
    display: inline-block;
    vertical-align: middle;
    max-height: 52px;
    max-width: 165px;
    width: 100%;
}

header .top-action-btn {
    position: relative;
    text-align: right;
}

body.admin-bar header {
    top: 32px;
}

.navigation {
    position: relative;
}

.navigation nav {
    position: relative;
}

.navigation nav ul {
    margin: 0 0 0 50px;
    padding: 0;
    text-align: right;
}

.navigation nav ul li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
}

.navigation nav ul li:first-child {
    margin-left: 0;
}

.navigation nav ul li:last-child {
    margin-right: 0;
}

.navigation nav ul li a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    outline: none;
    padding: 30px 0;
}

.navigation nav ul li a:hover,
.navigation nav ul li.active a {
    /*-webkit-text-stroke: 1px #ffffff;*/
}

.device-nav {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    cursor: pointer;
    color: #c3e5e1;
    display: none;
    z-index: 1000;
}

.device-nav span.icon {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    color: #000000;
    font-size: 25px;
    text-align: center;
}

.device-nav span.icon.fa-times {
    color: #ffffff;
}

/*@media (max-width: 1400px) {*/
/*    header {*/
/*        padding: 20px 100px;*/
/*    }*/
/*}*/
@media (max-width: 1199px) {
    .navigation nav ul li {
        margin: 0px 15px;
    }
}

@media (max-width: 991px) {
    header {
        padding: 10px 0;
    }

    header .top-action-btn {
        position: relative;
        padding-right: 30px;
    }

    #masthead.site-header {
        background: #ffffff;
    }

    #masthead.scrolled-navbar .navigation nav ul li a {
        color: #ffffff;
    }

    .device-nav {
        display: block;
    }

    .navigation nav {
        -o-transform: translate(100%);
        -o-transform-origin: 0 0;
        -o-transition: -o-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        -webkit-font-smoothing: antialiased;
        -webkit-transform: translate(100%);
        -webkit-transform-origin: 0 0;
        -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        height: calc(100% + 100px);
        /*top: 60px;*/
        left: 0;
        top: 0;
        list-style-type: none;
        position: fixed;
        right: 0;
        transform: translate(100%);
        transform-origin: 0 0;
        transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        -o-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        background: #000000;
    }

    .navigation nav.reveal {
        opacity: 1;
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        background: #000000;
    }

    .navigation nav,
    .navigation nav ul,
    .navigation nav ul li,
    .navigation nav ul li a {
        display: block;
        width: 100%;
    }

    .navigation nav ul {
        text-align: center;
        margin: 0;
        padding: 15px 0;
        position: absolute;
        top: 25%;
    }

    .navigation nav ul li {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0 10px;
    }

    .navigation nav ul li a {
        text-decoration: none;
        width: 100%;
        display: block;
        padding: 10px 15px;
        font-size: 16px;
        margin: 0;
    }
}

/**======================
Hero Section Starts
=========================*/
.hero-section {
    position: relative;
    background-size: cover;
    /*margin-bottom: 100px;*/
    background-repeat: no-repeat;
    height: 550px;
}

.single-post .hero-section,
.single-page .hero-section {
    padding: 75px 0;
}

#front-page .hero-section {
    background: none;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

#front-page .hero-section::before {
    background: none !important;
}

#hero-section-overlay {
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
}

.hero-section .hero-section-text {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    z-index: 3;
    color: #ffffff;
    text-align: left;
}

#front-page .hero-section .hero-section-text {
    top: 45%;
}

.hero-section-title {
    font-family: "Merriweather", serif;
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

#front-page .hero-section .hero-section-title {
    font-size: 32px;
    line-height: 48px;
}
#front-page .hero-section .mobile-video{
    position: relative;
    height: 100%;
}
#front-page .hero-section .mobile-video video{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#front-page .hero-section .desktop-video{
    display: none;
}
@media (min-width: 768px) {
    #front-page .hero-section .hero-section-title {
        font-size: 58px;
        line-height: 65px;
    }
}

/**======================
Section Emergency Starts
=========================*/
.emergency-section {
    /*background-image: url("../images/emergency-bg.png");*/
    background-size: cover;
    background-repeat: no-repeat;
    height: 480px;
    position: relative;
}

.background-overlay {
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.emergency-text-container {
    max-width: 540px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    align-items: flex-start;
    position: relative;
}

.emergency-section .emergency-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #ffffff;
}

/**======================
Section Service Starts
=========================*/
.service-section {
    background-image: url('../images/service-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.service-section .slick-slide {
    margin: 0 20px;
}

.service-section .slick-list {
    margin: 0 -20px;
}

/*.service-section .slider-box figure{*/
/*    !*height: 336px;*!*/
/*}*/
.service-section .slider-box figure img {
    height: 435px;
    margin-bottom: 30px;
    /*width: 263px;*/
    width: 100%;
}

.service-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0;
    text-align: center;
    background-color: #ffffff;
    padding: 25px 15px;
}

.service-section .slider-arrow-box {
    display: none;
}

.service-section .slider-arrow-box .next {
    position: absolute;
    top: 45%;
    right: 60px;
    width: 24px;
    height: 46px;
}

@media (min-width: 992px) {
    .service-section .slider-box figure img {
        height: 336px;
    }
}

@media (min-width: 768px) {
    .service-section .slider-arrow-box {
        display: inline-block;
    }
}

/**======================
Section About Starts
=========================*/
.about-section {
    background: rgba(0, 0, 0, 0.5);
}

.about-section .section-title {
    margin-bottom: 30px;
}

.horizontal-title-bar:after {
    content: '';
    height: 5px;
    width: 97px;
    background-color: #ffffff;
    vertical-align: bottom;
    display: inline-block;
    margin-right: 17px;
    margin-bottom: 30px;
}

.about-grid-container .left-grid {
    display: flex;
    justify-content: center;
    align-self: center;
}

.about-grid-container .left-grid img {
    border: 8px solid #000000;
    border-right: 0;
    border-bottom: 0;
    border-image: linear-gradient(to right, #000 68%, transparent 32%) 1;
}

.about-grid-container .right-grid {
    color: #ffffff;
    padding-top: 30px;
}
.about-grid-container .read-more{
    display: flex;
    margin-top: 30px;
    justify-content: flex-end;
}
@media (min-width: 768px) {
    .about-section .about-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about-grid-container .right-grid {
        padding: 20px 60px 60px 60px;
    }

    .about-grid-container .right-grid p {
        text-align: justify;
    }
}

/**======================
Section Counter Starts
=========================*/
.counter-section .counter-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.counter-section .counter-row > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 17px;
}

.counter-section .count-number {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
}

.counter-section figure img {
    width: 69px;
    height: 69px;
}

.counter-section p {
    font-size: 24px;
    line-height: 28px;
}

@media (min-width: 768px) {
    .counter-section .counter-row {
        flex-direction: row;
    }
}

/**======================
Section Partner Starts
=========================*/
.partner-section .section-title {
    margin-bottom: 30px;
}

.partner-section .partner-slider .slider-box img {
    margin: 10px 30px
}

@media (min-width: 768px) {
    /*.partner-section .slick-slide {*/
    /*  margin: 0 30px;*/
    /*}*/
    /*.partner-section .slick-list {*/
    /*  margin: 0 -30px;*/
    /*}*/
}

/**======================
Section Portfolio Starts
=========================*/
.project-section {
    background-image: url('../images/project-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.project-section .slick-slide {
    margin: 0 20px;
}

.project-section .slick-list {
    margin: 0 -20px;
}

.project-section .slider-box figure img {
    height: 432px;
    margin-bottom: 30px;
    width: 100%;
}

.project-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0;
    background-color: #ffffff;
    padding: 25px 15px;
}
.project-section .slider-arrow-box {
    display: none;
}
.project-section .slider-arrow-box .next {
    position: absolute;
    top: 45%;
    right: 60px;
    width: 24px;
    height: 46px;
}
.project-slider--container{
    max-width: 740px;
    margin:auto;
}
#project-slider img{
   width: 100%;
    height: 515px;
}
@media (min-width: 768px) {
    .project-section .slider-arrow-box {
        display: inline-block;
    }
}

/**======================
Section Blog Starts
=========================*/
.blog-grid {
    display: grid;
    gap: 30px;
}

.blog-grid figure {
    text-align: center;
}

.blog-grid .post-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.025em;
}

.blog-section .blog-box figure {
    margin-bottom: 30px;

}

.blog-section .blog-box figure img{
    height: 432px;
}

.blog-section .blog-box a,
.blog-section .blog-box a:hover {
    text-decoration: none;
    color: #000000;
}
@media (min-width: 768px) {
    .blog-grid{
        grid-template-columns: repeat(2, 1fr);
    }

}

/**======================
Contact with Map Starts
=========================*/
.contact-with-map .contact-grid {
    display: grid;
    gap: 60px;
}
@media (min-width: 840px) {
    .contact-with-map .contact-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/*****************************
    CONTACT FORM 7 CSS STARTS
******************************/
.contact-form input,
.contact-form select,
.contact-form textarea {
    /*border-radius: 10px;*/
    /*background: #444444;*/
    color: #000000;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    /*margin-top: 15px;*/
    border-bottom: 1px solid #000000;
}

.contact-form input[type='file'] {
    /*margin-top: 33px;*/
    padding-right: 5px;
}

.contact-form .ks-text-transparent {
    color: transparent;
}

.contact-form .ks-text-transparent.ks-inherit-color {
    color: inherit;
}

.contact-form input,
.contact-form select {
    height: 62px;
}

.contact-form button[type="submit"] {
    float: right;
    /*background: transparent;*/
    margin-top: 15px;
}

.wpcf7 form .wpcf7-response-output {
    margin: 1em 0.5em;
}

.input-placeholder {
    position: relative;
}

.input-placeholder input:valid .placeholder {
    display: none;
}

.input-placeholder .placeholder {
    position: absolute;
    pointer-events: none;
    top: 17px;
    font-size: 16px;
    color: #000000;
    line-height: 26px;
    /*font-family: "agenda", sans-serif;*/
    padding-left: 0;
    padding-right: 20px;
}

.input-placeholder .placeholder span {
    color: red;
    /*margin-left: -3px;*/
}

.input-placeholder option {
    padding: 5px;
    vertical-align: middle;
}

.input-placeholder select {
    background: #ffffff;
}

.contact-form select option {
    background-color: rgba(0, 0, 0, 0.1);
}

/*****************************
  Footer Starts
******************************/
footer .footer-logo {
    max-width: 282px;
}

.bottom-footer {
    background: #000000;
    color: #ffffff;
}

.top-footer-grid {
    display: grid;
    gap: 60px;
    align-items: flex-end;
}

.top-footer-grid .left-col {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.top-footer-grid .left-col .footer-sponsor {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 10px;
}

.top-footer-grid .left-col .footer-sponsor img {
    height: 37px;
}

.top-footer-grid .right-col .footer-widget-title {
    text-decoration: underline;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.social-profile-box a {
    color: #000000;
}

.social-profile-box a:hover {
    text-decoration: none;
}

.bottom-footer-grid {
    display: grid;
    justify-content: space-between;
    margin-top: 50px;
    padding: 24px 0;
    gap: 30px;
}
.bottom-footer-grid .left-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bottom-footer-grid p{
    margin-bottom: 0;
}
.bottom-footer-grid .left-col ul.footer-navigation{
    display: flex;
    height: 100%;
    align-items: center;
    margin-bottom: 0;
}
.bottom-footer-grid .left-col ul li::after {
    content: "|";
    margin: 0 10px;
}
.bottom-footer-grid .left-col ul li:last-child:after {
    content: '';
    margin: 0 10px;
}

.bottom-footer-grid a {
    color: #ffffff;
}
.bottom-footer-grid a:hover {
    color: #ffffff;
    text-decoration: none;
}
@media (min-width: 640px) {
    .top-footer-grid .left-col .footer-sponsor {
        justify-content: flex-start;
    }
}
@media (min-width: 768px) {
    .top-footer-grid {
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
    .top-footer-grid .left-col {
        flex-direction: row;
    }
    .bottom-footer-grid {
        grid-template-columns: auto auto;
    }
    .bottom-footer-grid .right-col{
        display: flex;
        align-items: flex-end;
    }
}
@media (min-width: 1140px) {
    .bottom-footer-grid .left-col{
        flex-direction: row;
    }
    .bottom-footer-grid .left-col p::after {
        content: "|";
        margin: 0 10px;
    }
}

/*****************************
  About Inner Content Starts
******************************/
.about-content-flex:not(:first-child) {
    padding-top: 60px;
}

.about-content-flex {
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
    row-gap: 30px;
    flex-wrap: wrap;
}

.about-content-flex.reverse {
    flex-direction: row-reverse;
}

.about-content--text {
    text-align: justify;
    line-height: 26px;
}

.about-content--image-container {
    width: 100%;
    max-height: unset;
    min-height: unset;
    height: 418px;
}

.about-content--text p {
    margin-bottom: 30px;
}

.about-content--text p:last-child {
    margin-bottom: 0;
}

.about-content--image-container img {
    height: 100%;
    width: 100%;
}

@media (min-width: 768px) {
    .about-content-flex{
        flex-wrap: nowrap;
    }
    .about-content--flex-item{
        flex: 1;
    }

    .about-content--image-container{
        max-height: 940px;
        min-height: 494px;
        height: 100%;
    }
}

/*****************************
  About Inner Objective Starts
******************************/
.objective-section .single-objective:not(:first-child) h2{
    margin-top: 60px;
}
.objective-flex {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    column-gap: 60px;
    row-gap: 30px;
    flex-wrap: wrap;
}

.objective-flex.reverse{
    flex-direction: row-reverse;
}


.objective--text p {
    margin-bottom: 30px;
    line-height: 26px;
    text-align: justify;
}

.objective--text p:last-child {
    margin-bottom: 0;
}

.objective--image-container{
    width: 100%;
    max-height: unset;
    min-height: unset;
    height: 393px;
}

.objective--image-container img {
    height: 100%;
    width: 100%;
}

@media (min-width: 768px) {
    .objective-flex{
        flex-wrap: nowrap;
    }
    .objective-flex--item {
        flex: 1;
    }

    .objective--image-container{
        max-height: 940px;
        min-height: 265px;
        height: 100%;
    }
}

/*****************************
  About slogan Starts
******************************/
.slogan-section--title.section-title {
    margin-bottom: 30px;
}

.slogan-section--subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-align: right;
}

/*****************************
  Archive Service Starts
******************************/
.service-box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
}
.service-box-container .service-box{
    grid-column: span 2;
}
.service-box-container .service-box figure {
    margin-bottom: 25px;
}
.service-box-container .service-box figure img {
    height: 460px;
    border-radius: 20px;
}
.service-box a {
    color: #000000;
}
.service-box a:hover {
    color: #000000;
    text-decoration: none;
}
.service-box .post-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 0;
    padding: 15px 17px 15px 0;
    background-color: #ffffff;
    display: inline-block;
}
.archive-service{
    background-image: url('../images/archive-service.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width: 640px) {
    .service-box-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}
@media (min-width: 768px) {
    .archive-service{
        padding-bottom: 100px;
    }
}
@media (min-width: 1024px) {
    .service-box-container {
        grid-template-columns: repeat(6, 1fr);
    }
    .service-box-container .service-box:nth-child(5n+4),
    .service-box-container .service-box:nth-child(5n+5){
        grid-column: span 3;
    }
}

/*****************************
  Archive Project Starts
******************************/
.filter-box select {
    width: 504px;
    max-width: 100%;
    border-radius: 50px;
    /*padding: 10px 26px;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #000000;
    background-image: url("../../assets/images/angle-down.png");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    background-size: 16px;
    border: 1px solid #000000;
}

.project-box-container {
    display: grid;
    gap: 30px;
}

.project-box-container .project-box figure img {
    height: 427px;
}

.project-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.project-box a {
    color: #000000;
}

.project-box a:hover {
    color: #000000;
    text-decoration: none;
}

.project-box .post-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 6px;
    background-color: #ffffff;
    padding: 20px 0;
}
.archive-project{
    background-image: url('../images/archive-service.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width: 640px) {
    .project-box-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 991px) {
    .project-box-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 767px) {
    .archive-project .ks-spb{
        padding-bottom: 0;
    }
}
/*****************************
  Featured Service Starts
******************************/
.featured-service--flex{
    display: grid;
    grid-column-gap: 60px;
    grid-row-gap: 40px;
    /*column-gap: 60px;*/
    /*row-gap: 40px;*/
    /*align-items: center;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: column-reverse;*/
}

.featured-service--text {
    line-height: 26px;
    text-align: justify;
}

.featured-service--title {
    margin-bottom: 35px;
    font-size: 32px;
}

.featured-section--image-container {
    margin-bottom: 30px;
    height: 287px;
}

.featured-section--image-container img {
    width: 100%;
    height: 290px;
}

.featured-service--subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 0;
}
.featured-service--item a{
    color: unset;
    text-decoration: none;
}
.featured-service-section .ks-btn{
    white-space: normal;
}
.start-project-btn{
    text-align: center;
}
@media (min-width: 768px) {
    .featured-service--flex{
        grid-template-columns: repeat(2, 1fr);
    }
    .start-project-btn{
        text-align: left;
    }
    .featured-service--text{
        padding-top: 75px;
        height: 100%;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        padding-bottom: 60px;
    }
    .featured-section--image-container {
        height: unset;
        min-height: 287px;
        max-height: 600px;
    }
}

/*****************************
  Sustainability Starts
******************************/
.sustainability--top-flex,
.sustainability--bottom-flex {
    display: flex;
    column-gap: 67px;
    row-gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sustainability--bottom-flex{
    flex-direction: column-reverse;
}

.sustainability--top-flex {
    margin-bottom: 60px;
}

.sustainability--top-flex-image-container,
.sustainability--top-flex-image-container img{
    width: 100%;
    height: 360px;
}

.sustainability--bottom-flex-image-container,
.sustainability--bottom-flex-image-container img{
    width: 100%;
    height: 700px;
}



.sustainability--title {
    margin-bottom: 30px;
}

.sustainability--subtitle {
    line-height: 26px;
    text-align: justify;
    margin-bottom: 0;
}

.sustainability--bottom-flex-item > div:not(:last-child) {
    margin-bottom: 60px;
}
@media (min-width: 768px) {
    .sustainability--top-flex,
    .sustainability--bottom-flex {
        flex-wrap: nowrap;
    }

    .sustainability--top-flex-item,
    .sustainability--bottom-flex-item {
        flex: 1;
    }

    .sustainability--top-flex-image-container,
    .sustainability--bottom-flex-image-container{
        height: unset;
    }

    .sustainability--bottom-flex-image-container img{
        height: 100%;
    }
    .sustainability--top-flex-image-container img{
        height: 100%;
        max-height: 640px;
        min-height: 350px;
    }

    .sustainability--bottom-flex{
        flex-direction: row;
    }

}
/*****************************
  Career Starts
******************************/
.career-section {
    margin-top: 20px;
}
.career-flex {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
}
.career--image-container{
    width: 100%;
}
.career--image-container img{
    height: 450px;
    width: 100%;
}

.career--text {
    line-height: 26px;
    text-align: justify;
}

.career--text p {
    margin-bottom: 40px;
}

.career--text p:last-child {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .career-flex{
        flex-wrap: nowrap;
    }
    .career--flex-item {
        flex: 1;
    }
    .career--image-container img{
        height: 100%;
        min-height: 400px;
        max-height: 863px;
    }

}

/*****************************
  Contact Page Starts
******************************/
.contact-page .contact-grid{
    display: grid;
    gap: 60px;
}
.contact-page .contact-grid .left-col{
    display: grid;
    gap: 60px
}
.contact-page .contact-grid .left-col .contact-details-box {
    display: grid;
    grid-row-gap: 30px;
}
.contact-page .contact-grid .contact-topic-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 20px;
}

@media (min-width: 575px) {
    .contact-page .contact-grid .left-col .contact-details-box {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 50px;
    }
}
@media (min-width: 768px) {
    /*.contact-page .contact-grid .left-col{*/
    /*    grid-template-columns: repeat(2, 1fr);*/
    /*}*/
    .contact-page .contact-grid .left-col .contact-details-box {
        grid-row-gap: 60px;
    }
}
@media (min-width: 1024px) {
    .contact-page .contact-grid{
        grid-template-columns: 55% 39%;
    }
    .contact-page .contact-grid .left-col{
        gap: 90px
    }
}
/*****************************
  Project Inner Top Slider
******************************/
.project-slider--container{
    margin-bottom: 60px;
    position: relative;
}
.arrows.left.prev3,
.arrows.right.next3{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    cursor: pointer;
}
.arrows.left.prev3 img,
.arrows.right.next3 img
{
    height: 46px;
}
.arrows.left.prev3{
    left: -100px;
}
.arrows.right.next3{
    right: -100px;
}

.project-slider--image-container img{
    width: 100%;
    height: 380px;
}
@media (min-width: 768px) {
    .project-slider--image-container img{
        height: 515px;
    }
}
@media (min-width: 1200px) {
    .arrows.left.prev3,
    .arrows.right.next3
    {
        display: inline-block;
    }
}
/*****************************
  Project Inner Content
******************************/
.project-content-flex{
    display: flex;
    column-gap: 60px;
    row-gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.single-project--subtitle{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 15px;
}
.single-project--text{
    margin-bottom: 0;
    line-height: 26px;
    text-align: justify;
}
.single-project--text ul{
    padding-left: 20px;
    margin-bottom: 0;
}
.single-project--text ul li{
    list-style: disc;
}

@media (min-width: 768px) {
    .project-content-flex{
        flex-wrap: nowrap;
    }
    .single-project--flex-item{
        flex: 1;
    }
}
/*****************************
  Search Widget Class
******************************/
.search-field,
.widget select{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.search-submit{
    padding: 10px 40px;
    font-weight: 700;
    font-size: 18px;
    border-radius: 50px;
    line-height: 24px;
    text-decoration: none;
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    background: #000000;
    color: #ffffff;
    margin-left: 15px;
}
.widget{
    padding-top: 15px;
    padding-bottom: 15px;
}
.widget select{
    max-width: 350px;
}
/**=======================
* STICKY FORM
=========================*/
.ks-sticky-form{
    width: 285px;
    position: fixed;
    transition: all ease 1s;
    -moz-transition: all ease 1s;
    -webkit-transition: all ease 1s;
    right: -285px;
    z-index: 999;
    top: 30%;
    background: #fff;
    margin-left: 20px;
    padding: 18px 18px 16px 18px;
    border: 1px solid #000;
    border-right-color: transparent;
}

.ks-sticky-form.active{
    right: 0;
}
.sticky-form-title{
    position: absolute;
    cursor: pointer;
    left: -93px;
    font-weight: 700;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    background: #000000;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 20px;
    top: 40%;
    display: block;
}



/** placeholder design for skicky form **/
.ks-sticky-form.contact-form input,
.ks-sticky-form.contact-form select {
    height: 30px;
    font-size: 14px;
}
.ks-sticky-form.contact-form textarea{
    font-size: 14px;
}
.ks-sticky-form.contact-form .input-placeholder .placeholder{
    top: 2px;
    font-size: 14px;
}
.ks-sticky-form.contact-form .input-placeholder .placeholder.placeholder-textarea{
    top: -2px;
    font-size: 14px;
}
.ks-sticky-form.contact-form p{
    margin-bottom: 5px;
}
.ks-sticky-form.contact-form button[type='submit']{
    font-size: 14px;
    min-width: auto;
    padding:0 16px;
    line-height: 32px;
    height: 32px;
}
.ks-sticky-form.contact-form .wpcf7-spinner{
    position: absolute;
    left: -40px;
    top: 22px;
}
.ks-sticky-form.contact-form .wpcf7-not-valid-tip {
    font-size: 12px;
}




/**=======================
* For a Scrollable slider
=========================*/
.project-box-container{
    height: 555px;
}
.service-box-container{
    height: 544px;
}

.project-box-container,
.service-box-container{
    overflow-y: scroll;
    position: relative;
    ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.project-box-container::-webkit-scrollbar,
.service-box-container::-webkit-scrollbar
{
    display: none;  /* Safari and Chrome */
}

.project-box,
.service-box{
    opacity: 0;
    transition: opacity 400ms ease-in;
}
.project-box.appear,
.service-box.appear{
    opacity: 1;
}

